
    <body>
    <nav>
                <a style="border-radius: 8px; width: 100px; ">
                    <img src="../../../assets/images/disabled.png" alt="Image Description" style="width: 100px; height: auto;">
                </a>
                <a style="border-radius: 8px; width: 250px; background-color: #34495e;">
                <img src="../../../assets/images/eyelogo_disabled.png" alt="Image Description" style="width: 100px; height: auto;">
                </a>
                <a style="border-radius: 8px; width: 250px; background-color: #a81e0e;">
                <img src="../../../assets/images/online_red.png" alt="Image Description" style="width: 100px; height: auto;">
                </a>
                <a style="border-radius: 8px; width: 100px; ">
                    <img src="../../../assets/images/offline.png" alt="Image Description" style="width: 100px; height: auto;">
                </a>
    </nav>
    </body>
    


